# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# pocketbase
.tools/
pb_data/
pb_public/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
output/*.log
output/letsencrypt/
output/windows/
certbot-webroot/


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
